table tbody tr:last-of-type {
    border-bottom: 1px solid #e3e6f0;
}

.cursor-pointer {
    cursor: pointer;
}


@media only screen and (min-width: 600px) {
    .table-resume-profile th {
        width: 155px;
    }
  }

label.is-invalid {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #e74a3b;
    margin-bottom: 0;
}

.table-resume-education .course {
    width: 30%;
}



.table-resume-education .date_in,
.table-resume-education .date_out {
    width: 10%;
}

.table-resume-education .actions {
    width: 9%;
}