.container {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.row-card-body {
    min-height: 530px;
}

.alert-danger--form {
    padding: 10px 0;
}

.alert-danger--form ul {
    margin: 0 30px 0 0px;
}

.bg-login-image {
    background: url('../img/dogito_login_form.jpg') center;
    background-size: cover
}

.bg-reset-image {
    background: url('../img/dogito_update_pass_form.jpg') center;
    background-size: cover
}

.bg-password-image {
    background: url('../img/dogito_reset_pass_form.jpg') center;
    background-size: cover
}
